
<%- include("../partials/adminHeader.ejs") %>

<body class="dark">
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="/admin" class="brand-wrap">
                <img src="/assets/adminAssets/imgs/icons/logo.png" class="logo" alt="Evara Dashboard">
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item "> 
                    <a class="menu-link " href="/admin/adminHome"> <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>

                <li class="menu-item"> 
                    <a class="menu-link" href="/admin/adminHome"> <i class="icon material-icons md-show_chart"></i>
                        <span class="text">Sales Report</span>
                    </a>
                </li>
                <li class="menu-item active"> 
                    <a class="menu-link active" href="/admin/ordersList"> <i class="icon material-icons md-list_alt"></i>
                        <span class="text">Orders</span>
                    </a>
                </li>

                <li class="menu-item ">
                    <a class="menu-link" href="/admin/userList"> <i class="icon material-icons md-people"></i>
                        <span class="text">Users</span>
                    </a>
                </li>
               
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/products"> <i class="icon material-icons md-local_offer"></i>
                        <span class="text">Products</span>
                    </a>
                </li>

                <li class="menu-item ">
                    <a class="menu-link" href="/admin/brand"> <i class="icon material-icons md-label"></i>
                        <span class="text">Brand</span>
                    </a>
                </li>
                
                <li class="menu-item">
                    <a class="menu-link" href="/admin/category"> <i class="icon material-icons md-category"></i>
                        <span class="text">Category</span>
                    </a>
                </li>

                 <li class="menu-item "> 
                    <a class="menu-link" href="/admin/couponPage"> <i class="icon material-icons md-confirmation_number"></i>
                        <span class="text">Coupon</span>
                    </a>
                </li>

                <li class="menu-item "> 
                    <a class="menu-link" href="/admin/couponPage"> <i class="icon material-icons md-redeem"></i>
                        <span class="text">Offers</span>
                    </a>
                </li>
               
                
            <br>
            <br>
        </nav>
    </aside>
    <main class="main-wrap">
        <header class="main-header navbar">
            <div class="col-search">
                <form class="searchform">
                    <div class="input-group">
                        <input list="search_terms" type="text" class="form-control" placeholder="Search term">
                        <button class="btn btn-light bg" type="button"> <i class="material-icons md-search"></i></button>
                    </div>
                    <datalist id="search_terms">
                        <option value="Products">
                        <option value="New orders">
                        <option value="Apple iphone">
                        <option value="Ahmed Hassan">
                    </datalist>
                </form>
            </div>
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i class="material-icons md-apps"></i> </button>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link btn-icon" href="#">
                            <i class="material-icons md-notifications animation-shake"></i>
                            <span class="badge rounded-pill">3</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i> </a>
                    </li>
                  
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false"> <img class="img-xs rounded-circle" src="/assets/adminAssets/imgs/people/testi-7.png" alt="User"></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                            <a class="dropdown-item" href="#"><i class="material-icons md-perm_identity"></i>Edit Profile</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-settings"></i>Account Settings</a>

                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" href="/admin/logout"><i class="material-icons md-exit_to_app"></i>Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </header>
        <section class="content-main">
            <% orderData.forEach(element=>{%>
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Order detail</h2>
                    <p>Details for Order ID: <%=element.orderNumber  %></p>
                </div>
            </div>
            <div class="card">
                <header class="card-header">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-6 mb-lg-0 mb-15">
                            <span>
                                <i class="material-icons md-calendar_today"></i> <b><%=element.orderDate.toLocaleDateString()  %></b>
                            </span> <br>
                            <small class="text-muted">Order ID: <%=element.orderNumber  %></small>
                        </div>
                        <div class="col-lg-6 col-md-6 ms-auto text-md-end">
                        <% if(element.status !== "Cancelled" && element.status!== "Delivered" && element.status!== "RequestProcessing" && element.status!== "Returned"){ %>
                            <form id="statusForm" action="/admin/changeOrderStatus?id=<%= element._id  %>" method="post">
                                <select id="statusoption" name="statusname" class="form-select d-inline-block mb-lg-0 mb-15 mw-200">
                                    <option value ="Processing">Processing</option>
                                    <option value="Cancelled">Cancelled</option>
                                    <option value="Confirmed">Confirmed</option>
                                    <option value="Shipped">Shipped</option>
                                    <option value="Delivered">Delivered</option>
                                </select>
                                <button class="btn btn-primary" type="submit">Save</button>
                                <!-- <a class="btn btn-secondary print ms-2" href="#"><i class="icon material-icons md-print"></i></a> -->
                            </form>
                        <% } else if(element.status === "Cancelled") { %>
                            <h4 style="color: red;">Order Cancelled</h4>
                        <% } else if(element.status === "Delivered") { %>
                            <h4 style="color: rgb(0, 89, 255);">Order Delivered</h4>
                        <% } else if(element.status === "RequestProcessing") { %>
                            <h4 style="color: rgb(238, 255, 0);">Order requesting for return</h4>
                        <% } else if(element.status === "Returned") { %>
                            <h4 style="color: rgb(163, 163, 163);">Order Returned</h4>
                        <% } %>
                    </div>
                    </div>
                </header> <!-- card-header end// -->
                <div class="card-body">
                    <div class="row mb-50 mt-20 order-info-wrap">
                        <div class="col-md-4">
                            <article class="icontext align-items-start">
                                <span class="icon icon-sm rounded-circle bg-primary-light">
                                    <i class="text-primary material-icons md-person"></i>
                                </span>
                                <div class="text">
                                    <h6 class="mb-1">Customer</h6>
                                    <p class="mb-1">
                                       <%= element.shippingAddress.name %><br> <%= element.userEmail %><br>
                                    </p>
                                    <br>
                                    <!-- <a href="#">View profile</a> -->
                                </div>
                            </article>
                        </div> <!-- col// -->
                        <div class="col-md-4">
                            <article class="icontext align-items-start">
                                <span class="icon icon-sm rounded-circle bg-primary-light">
                                    <i class="text-primary material-icons md-local_shipping"></i>
                                </span>
                                <div class="text">
                                    <h6 class="mb-1">Order info</h6>
                                    <p class="mb-1">
                                        Shipping: Fargo express <br> Pay method: <%= element.orderType %><br> Status: <%= element.status  %>
                                    </p>
                                    <!-- <a href="#">Download info</a> -->
                                </div>
                            </article>
                        </div> <!-- col// -->
                        <div class="col-md-4">
                            <article class="icontext align-items-start">
                                <span class="icon icon-sm rounded-circle bg-primary-light">
                                    <i class="text-primary material-icons md-place"></i>
                                </span>
                                <div class="text">
                                    <h6 class="mb-1">Deliver to</h6>
                                    <p class="mb-1">
                                        City: <%= element.shippingAddress.city %><br> <%= element.shippingAddress.address %><br>
                                    </p>
                                    <!-- <a href="#">View profile</a> -->
                                </div>
                            </article>
                        </div> <!-- col// -->
                    </div> <!-- row // -->
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr style="text-align: center;">
                                            <th width="40%">Product</th>
                                            <th width="20%">Unit Price</th>
                                            <th width="20%">Quantity</th>
                                            <th width="20%" class="text-end">Total</th>
                                        </tr>
                                    </thead>  
                                    <% element.items.forEach(item => { %>
                                
                                      
                                    <tbody style="border-style:solid; border-color: rgba(94, 94, 94, 0.426); border-width: 1px; ">
                                        <tr>
                                            <td class="text-center">
                                                <a class="itemside" href="#">
                                                    <div class="left">
                                                        <% if(item.productId.productImage[0] !== undefined && item.productId.productImage[0] !== ''){ %>
                                                            <a href="#"><img style="height: 100px;" src="/assets/adminAssets/imgUploads/<%= item.productId.productImage[0] %>" alt="image"></a>
                                                            <% }else { %>
                                                            <a href="#"><img style="height: 100px;" src="/assets/adminAssets/imgs/icons/szucci-favicon-white.png" alt="image"></a>
                                                            <% } %>                                                    
                                                        </div>
                                                    <div class="info"><%= item.productId.productName %></div>
                                                </a>
                                            </td>
                                            <td class="text-center">₹ <%= item.productId.salePrice %></td>
                                            <td class="text-center"> <%= item.quantity %> </td>
                                            <td class="text-end"> ₹ <%= element.totalAmount %> </td>
                                        </tr>
                                        
                                        <tr>
                                            <td colspan="4">
                                                <article class="float-end">
                                                    <dl class="dlist">
                                                        <dt>Subtotal:</dt>
                                                        <dd>₹ <%= element.totalAmount %></dd>
                                                    </dl>
                                                    <dl class="dlist">
                                                        <dt>Shipping cost:</dt>
                                                        <dd>Free</dd>
                                                    </dl>
                                                    <dl class="dlist">
                                                        <dt>Grand total:</dt>
                                                        <dd> <b class="h5">₹ <%= element.totalAmount %></b> </dd>
                                                    </dl>
                                                    <dl class="dlist">
                                                        <dt class="text-muted">Payment Status:</dt>
                                                        
                                                        <dd>
                                                            <% if(element.paymentStatus == "Success"){ %>
                                                            <span class="badge rounded-pill alert-success text-success">Payment done</span>
                                                            <% }else{ %>
                                                            <span class="badge rounded-pill alert-warning text-warning">Payment pending</span>
                                                            <% } %>
                                                        </dd>
                                                    </dl>
                                                </article>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <% }) %>
                                </table>
                            </div> <!-- table-responsive// -->
                            <!-- <a class="btn btn-primary" href="page-orders-tracking.html">View Order Tracking</a> -->
                        </div> <!-- col// -->
                        <div class="col-lg-1"></div>
                        <div class="col-lg-4">
                            <div class="box shadow-sm bg-light">
                                <h6 class="mb-15">Payment info</h6>
                                <p>
                                    <!-- <img src="assets/imgs/card-brands/2.png" class="border" height="20"> Master Card **** **** 4768 <br>
                                    Business name: Grand Market LLC <br>
                                    Phone: +1 (800) 555-154-52 -->
                                    <%= element.orderType%>
                                </p>
                            </div>
                            <% if(element.status === 'RequestProcessing'){ %>
                            <div class="h-25 pt-4">
                                <div class="mb-3">
                                    <label>Reason for returning</label>
                                    <textarea class="form-control" name="notes" id="notes" readonly>The Product is <%= element.returningReason%></textarea>
                                </div>
                                <div class="row">
                                    <button onclick="AcceptorReject('<%=element._id%>','accept')" style=" padding: 5px 8px; margin: 5px 10px;" class="btn btn-primary col-lg-3 col-md-4 col-sm-6">Accept</button>
                                    <button onclick="AcceptorReject('<%=element._id%>','reject')" style="padding: 5px 8px; margin: 5px 10px;" class="btn btn-secondary col-lg-3 col-md-4 col-sm-6">Reject</button>
                                </div>
                            </div>
                            <% } else if(element.status === "Returned") { %>
                               <p style="margin: 20px;" class="badge rounded-pill alert-success text-success"> Product Returned</p>
                            <% } %>

                        </div> 
                    </div>
                </div> 
            </div> 
            <%}) %>
        </section> 


        <script>
function AcceptorReject(orderId, response) {
    $.ajax({
        url: "/admin/acceptorReject",
        method: "POST",
        data:{
            orderId: orderId,
            response: response,
        },
        success: async (response) => {
            if (response.status === true) {
                console.log(response);
                alert(response.message); // Display success message from server
                window.location.reload();
            } else {
                console.error("Error processing request");
                alert(response.message); // Display error message from server
            }
        },
        error: (xhr, status, error) => {
            console.error("Error:", error);
            alert("Error processing request"); // Display generic error message
        }
    });
}


       
        </script>
        <%- include("../partials/adminFooter.ejs") %>