
<%- include("../partials/adminHeader.ejs") %>


<body class="dark">
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="/admin" class="brand-wrap">
                <img src="/assets/adminAssets/imgs/icons/logo.png" class="logo" alt="Evara Dashboard">
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/adminHome"> <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/products"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Products</span>
                    </a>
                   
                </li>

                <li class="menu-item ">
                    <a class="menu-link" href="/admin/userList"> <i class="icon material-icons md-people"></i>
                        <span class="text">Users</span>
                    </a>
                </li>
              
               
                <li class="menu-item active">
                    <a class="menu-link" href="/admin/brand"> <i class="icon material-icons md-person"></i>
                        <span class="text">Brand</span>
                    </a>
                </li>


                <li class="menu-item">
                    <a class="menu-link" href="/admin/category"> <i class="icon material-icons md-category"></i>
                        <span class="text">Category</span>
                    </a>
                </li>
                
            <br>
            <br>
        </nav>
    </aside>
    <main class="main-wrap">
        <header class="main-header navbar">
            <div class="col-search">
                <form class="searchform">
                    <div class="input-group">
                        <input list="search_terms" type="text" class="form-control" placeholder="Search term">
                        <button class="btn btn-light bg" type="button"> <i class="material-icons md-search"></i></button>
                    </div>
                    <datalist id="search_terms">
                        <option value="Products">
                        <option value="New orders">
                        <option value="Apple iphone">
                        <option value="Ahmed Hassan">
                    </datalist>
                </form>
            </div>
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i class="material-icons md-apps"></i> </button>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link btn-icon" href="#">
                            <i class="material-icons md-notifications animation-shake"></i>
                            <span class="badge rounded-pill">3</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i> </a>
                    </li>
                  
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false"> <img class="img-xs rounded-circle" src="/assets/adminAssets/imgs/people/testi-7.png" alt="User"></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                            <a class="dropdown-item" href="#"><i class="material-icons md-perm_identity"></i>Edit Profile</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-settings"></i>Account Settings</a>

                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" href="/admin/logout"><i class="material-icons md-exit_to_app"></i>Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </header>

<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Brands </h2>
            <p>Add, edit or delete a Brand</p>
        </div>
        <div>
            <input type="text"  placeholder="Search Categories" class="form-control bg-white">
        </div>
    </div>
    <div class="card">
        <div class="card-body">    
            <div class="row">
                <div class="col-md-3">


                    <form id="createBrand" action="/admin/brand" method="post">
                        <div class="mb-4">
                               <p class="form-label"><h6>Add New Brand</h6></p>
                            <label for="brandName" class="form-label">Brand Name</label>
                            <input id="brandName" type="text" name="brandName" placeholder="Type here" class="form-control" />
                        </div>
                        <p><div id="error1" style="display: none;" class="alert alert-danger err"></div></p>

                        <% if(typeof errMsg !== "undefined") {%>
                        <p style="color: red;"><%= errMsg %></p>
                        <% } %>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary">Create brand</button>
                        </div>
                        <p><div id="message" style="display: none; color: #155724;" class="alert alert-success "></div></p>
                        
                    </form>
                </div>
                <div class="col-md-9">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>   
                                    <th>Brand</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% brand.forEach(bra => { %>
                                <tr>
                                    <td><b><%= bra.brandName %></b></td>
                                    <td>
                                        <% if (bra.isBlocked === true) { %>
                                            <a href="/admin/brandBlock?brandName=<%= bra.brandName %>">
                                                <button class="toggleBtn btn btn-sm font-sm btn-brand rounded">Unblock</button>
                                            </a>
                                        <% } else { %>
                                            <a href="/admin/brandBlock?brandName=<%= bra.brandName %>">
                                                <button class="toggleBtn btn btn-sm font-sm btn-brand rounded">Block</button>
                                            </a>
                                        <% } %>
                                     </td>     
                                </tr>
                                <% }) %>
                            </tbody>   
                        </table>
                    </div>
                </div> <!-- .col// -->
            </div> <!-- .row // -->
        </div> <!-- card body .// -->
    </div> <!-- card .// -->
</section>



<script>
    const braName = document.getElementById("brandName");
    const error1 = document.getElementById("error1");
    const createBrand = document.getElementById("createBrand");
   
    
    function braNameValidation() {
        const catName = braName.value.trim();
        if (!catName) {
            error1.style.display = "block";
            error1.innerHTML = "Please enter a brand name.";
        } else {
            error1.style.display = "none";
            error1.innerHTML = "";
        }
    }

    
    const messageDiv = document.getElementById("message"); 
    braName.addEventListener("blur", braNameValidation);
    </script>

<%- include("../partials/adminFooter.ejs") %>