
<%- include("../partials/adminHeader.ejs") %>



<body class="dark">
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="/admin" class="brand-wrap">
                <img src="/assets/adminAssets/imgs/icons/logo.png" class="logo" alt="Evara Dashboard">
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item "> 
                    <a class="menu-link active" href="/admin/adminHome"> <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>

                <li class="menu-item"> 
                    <a class="menu-link" href="/admin/salesreport"> <i class="icon material-icons md-show_chart"></i>
                        <span class="text">Sales Report</span>
                    </a>
                </li>
                <li class="menu-item"> 
                    <a class="menu-link" href="/admin/ordersList"> <i class="icon material-icons md-list_alt"></i>
                        <span class="text">Orders</span>
                    </a>
                </li>

                <li class="menu-item ">
                    <a class="menu-link" href="/admin/userList"> <i class="icon material-icons md-people"></i>
                        <span class="text">Users</span>
                    </a>
                </li>
               
                <li class="menu-item active">
                    <a class="menu-link active" href="/admin/products"> <i class="icon material-icons md-local_offer"></i>
                        <span class="text">Products</span>
                    </a>
                </li>

                <li class="menu-item ">
                    <a class="menu-link" href="/admin/brand"> <i class="icon material-icons md-label"></i>
                        <span class="text">Brand</span>
                    </a>
                </li>
                
                <li class="menu-item">
                    <a class="menu-link" href="/admin/category"> <i class="icon material-icons md-category"></i>
                        <span class="text">Category</span>
                    </a>
                </li>

                 <li class="menu-item "> 
                    <a class="menu-link" href="/admin/couponPage"> <i class="icon material-icons md-confirmation_number"></i>
                        <span class="text">Coupon</span>
                    </a>
                </li>

                <li class="menu-item "> 
                    <a class="menu-link" href="/admin/offersPage"> <i class="icon material-icons md-redeem"></i>
                        <span class="text">Offers</span>
                    </a>
                </li>
               
                
            <br>
            <br>
        </nav>
    </aside>
    <main class="main-wrap">
        <header class="main-header navbar">
            <div class="col-search">
                <form class="searchform">
                    <div class="input-group">
                        <input list="search_terms" type="text" class="form-control" placeholder="Search term">
                        <button class="btn btn-light bg" type="button"> <i class="material-icons md-search"></i></button>
                    </div>
                    <datalist id="search_terms">
                        <option value="Products">
                        <option value="New orders">
                        <option value="Apple iphone">
                        <option value="Ahmed Hassan">
                    </datalist>
                </form>
            </div>
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i class="material-icons md-apps"></i> </button>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link btn-icon" href="#">
                            <i class="material-icons md-notifications animation-shake"></i>
                            <span class="badge rounded-pill">3</span>
                        </a>
                     </li>
                    <li class="nav-item">
                        <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i> </a>
                    </li>
                  
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false"> <img class="img-xs rounded-circle" src="/assets/adminAssets/imgs/people/testi-7.png" alt="User"></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                            <a class="dropdown-item" href="#"><i class="material-icons md-perm_identity"></i>Edit Profile</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-settings"></i>Account Settings</a>

                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" href="/admin/logout"><i class="material-icons md-exit_to_app"></i>Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </header>
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Products List</h2>
                    <p>Product with its details are shown here.</p>
                </div>
                <div>
                    <a href="/admin/productAdd" class="btn btn-primary btn-sm rounded">Create new</a>
                </div>
            </div>
            <div class="card mb-4">
             <!--   <header class="card-header">
                    <div class="row align-items-center">
                        <div class="col col-check flex-grow-0">
                            <div class="form-check ms-2">
                                <input class="form-check-input" type="checkbox" value="">
                            </div>
                        </div>
                        <div class="col-md-3 col-12 me-auto mb-md-0 mb-3">


                            <select name="category" class="form-select">
                                <% if(locals.catData){ %>
                                    <option selected>All category</option>
                                    <% catData.forEach(element =>{ %>
                                <option value="<%= element._id %>" ><%= element.name %> </option>
                                <% }) %>
                                <% } %>
                            </select>


                            <!-- <select class="form-select">
                                <option selected>All category</option>
                                <option>Electronics</option>
                                <option>Clothes</option>
                                <option>Automobile</option>
                            </select> 
                        </div>
                        <!-- <div class="col-md-2 col-6">
                            <input type="date" value="02.05.2022" class="form-control">
                        </div> 
                        <div class="col-md-2 col-6">
                            <select class="form-select">
                                <option selected>Status</option>
                                <option>Active</option>
                                <option>Disabled</option>
                                <option>Show all</option>
                            </select>
                        </div>
                    </div>
                </header> card-header end// -->
                <div class="card-body">
                    <% for(let i=0; i<product.length; i++) { %>
                    <article class="itemlist">
                        <div class="row align-items-center">
                            <div class="col-lg-4 col-sm-4 col-8 flex-grow-1 col-name">
                                <a class="itemside" href="/admin/productInfo/<%= product[i]._id %>">
                                    <div class="left">
                                        <img  src="/assets/adminAssets/imgUploads/<%= product[i].productImage[0] %>" class="img-sm img-thumbnail" alt="Product">
                                    </div>
                                    <div class="info">
                                        <h6 class="mb-0"><%= product[i].productName %></h6>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-2 col-sm-2 col-4 col-price"> <span>₹<%= product[i].salePrice %></span> </div>
                            <div class="col-lg-1 col-sm-1 col-4 col-status">
                                <span class="badge rounded-pill alert-success">Active</span>
                            </div>
                            <!-- <div class="col-lg-1 col-sm-2 col-4 col-date">
                                <span>02.11.2022</span>
                            </div> -->
                            <div class="col-lg-2 col-sm-2 col-4 col-action text-end">
                                <a href="/admin/editProduct/<%= product[i]._id %>">
                                    <button class="btn btn-sm font-sm btn-brand rounded">Edit</button>
                                </a>
                            </div>
                            <div class="col-lg-2 col-sm-2 col-4 col-action text-end">
                                <% if (product[i].isBlocked === true) { %>
                                    <a href="/admin/productBlock?productName=<%= product[i].productName %>">
                                        <button class="toggleBtn btn btn-sm font-sm  rounded">Unblock</button>
                                    </a>
                                <% } else { %>
                                    <a href="/admin/productBlock?productName=<%= product[i].productName %>">
                                        <button class="toggleBtn btn btn-sm font-sm btn-brand rounded">Block</button>
                                    </a>
                                <% } %>   
                            <!-- </div>
                            <div class="col-lg-2 col-sm-2 col-4 col-action text-end"> -->
                                <td>
                                    <button class="toggleBtn btn btn-sm font-sm btn-brand rounded" onclick="confirmDelete('<%= product[i]._id %>')">Delete</button>
                                </td>
                                        
                            </div>
                        </div> <!-- row .// -->
                    </article> <!-- itemlist  .// -->
                    <% } %>
                  
                </div> <!-- card-body end// -->
            </div> <!-- card end// -->
           
        </section> <!-- content-main end// -->
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script>
                    document.write(new Date().getFullYear())
                    </script> ©, Evara - HTML Ecommerce Template .
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer>
    </main>
    <script src="assets/adminAssets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="assets/adminAssets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="assets/adminAssets/js/vendors/select2.min.js"></script>
    <script src="assets/adminAssets/js/vendors/perfect-scrollbar.js"></script>
    <script src="assets/adminAssets/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="assets/adminAssets/js/main.js" type="text/javascript"></script>
</body>

<script>
    function confirmDelete(proId){
        if (confirm(`Are you sure you want to delete the product "${proId}"?`)) {
   
            window.location.href = `/admin/deleteProduct?productId=${proId}`;
        }
    }
</script>




    <%- include("../partials/adminFooter.ejs") %>