<%- include("../partials/header.ejs") %>
    <div class="breadcrumb-area section-padding-1 bg-gray breadcrumb-ptb-1">
        <div class="container-fluid">
            <div class="breadcrumb-content text-center">
                <div class="breadcrumb-title">
                    <h2>All Products</h2>
                </div>
                <ul>
                    <li>
                        <a href="index.html">Home </a>
                    </li>
                    <li><span> &gt; </span></li>
                    <li class="active"> All-products </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="shop-area section-padding-1 pt-100 pb-100">
        <div class="container-fluid">
            <div class="shop-top-bar">
                <!-- <div class="shop-top-bar-left">
                    <div class="shop-top-show">
                        <span>Showing 1–12 of 39 results</span>
                    </div>
                    <div class="shop-page-list">
                        <ul>
                            <li>Show</li>
                            <li class="active"><a href="#">12</a></li>
                            <li><a href="#">15</a></li>
                            <li><a href="#">30</a></li>
                        </ul>
                    </div>
                </div> -->
                <div class="shop-top-bar-right">
                    <div class="shop-tab nav">
                        <a href="#shop-1" class="active" data-bs-toggle="tab"><i class="dlicon ui-2_grid-45"></i><p>Grid </p></a>
                        
                        <a href="#shop-2" data-bs-toggle="tab"><i class="dlicon design_bullet-list-69"></i><p>List </p></a>
                        
                    </div>
                    <div class="shop-filter ml-50">
                        <a class="shop-filter-active" href="#">Filters <i class="fa fa-angle-down angle-down"></i> <i class="fa fa-angle-up angle-up"></i></a>
                    </div>
                    <div class="shop-short-by ml-50">
                        <span>Sort by <i class="fa fa-angle-down angle-down"></i> <i class="fa fa-angle-up angle-up"></i></span>
                        <ul>
                            <li class="active"><a href="/allProducts?sort=Default">Default sorting</a></li> 
                            <li><a href="/allProducts?sort=Latest"> latest</a></li>
                            <li><a href="/allProducts?sort=ZtoA"> A to Z</a></li>
                            <li><a href="/allProducts?sort=AtoZ"> Z to A</a></li>
                            <li><a href="/allProducts?sort=Lowtohigh"> price: Low to high</a></li>
                            <li><a href="/allProducts?sort=Hightolow"> price: High to low</a></li>
                            <li><a href="#"> Rating</a></li> 
                        </ul>
                    </div>
                </div>
            </div>



            <div class="product-filter-wrapper">
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-12 mb-20">
                        <div class="product-filter">
                            <h5>Price</h5>
                            <div class="price-filter">
                                <ul>
                                    <li><a href="#" onclick="filterProducts('price', '100-1000')">₹100.00 - ₹1000.00</a></li>
                                    <li><a href="#" onclick="filterProducts('price', '1000-5000')">₹1000.00 - ₹5000.00</a></li>
                                    <li><a href="#" onclick="filterProducts('price', '5000-10000')">₹5000.00 - ₹10,000.00</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 mb-20">
                        <div class="product-filter">
                            <h5>Category</h5>
                            <div class="product-size">
                                <ul>
                                    <% catData.forEach(element => { %>
                                         <li><a href="#" onclick="filterProducts('category', '<%= element.name %>')"> <%= element.name  %></a></li>
                                    <% }); %>
                                   
                                </ul>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-3 col-sm-6 col-xs-12 mb-20">
                        <div class="product-filter">
                            <h5>Brands</h5>
                            <div class="product-brands">
                                <ul>
                                    <% brandData.forEach(element => { %>
                                         <li><a href="#" onclick="filterProducts('brand', '<%= element.brandName %>')"> <%= element.brandName  %></a></li>
                                    <% }); %>
                                   
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>





            <div class="tab-content jump-3 pt-30">
                <div id="shop-1" class="tab-pane active">
                    <div class="row">
                        <% const proData = prodData.slice().reverse(); %>
                        <% for(let i=0; i <proData.length ; i++){ %>
                            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
                                <div class="product-wrap mb-50">
                                    <div class="product-img default-overlay mb-25" >
                                        <a href="/product-details?id=<%=proData[i]._id%>">
                                            <% if(proData[i].productImage[0]!== undefined && proData[i].productImage[0] !== ''){  %>
                                            <img class="default-img" src="/assets/adminAssets/imgUploads/<%= proData[i].productImage[0] %>" alt="img">
                                            <% } else { %>
                                            <img class="default-img" src="/assets/userAssets/images/logo/szucci-favicon-black.png" alt="img">
                                            <% } %>
                                        </a>
                                        
                                        <input type="hidden" id="proId" name="user_id" value="<%= proData[i]._id %>">
                                        <!-- <div class="product-action product-action-position-1"> -->
                                            <!-- <a href="/product-details?id=<%=proData[i]._id%>"><i class="fa fa-eye"></i><span>Quick Shop</span></a> -->
                                            <!-- <a title="Add to Wishlist" href="/"><i class="fa fa-heart"></i><span>Add to Wishlist</span></a> -->
                                           
                                            <!-- <a title="Add to Cart" id="addToCartButton"  onclick="addToCart()"><i class="fa fa-shopping-cart"></i><span>Add to Cart</span></a> -->
                                        <!-- </div> -->
                                    </div>
                                    <div class="product-content-4 title-font-width-400 text-center">
                                        <h4><a href="product-details"><%= proData[i].productName %></a></h4>
                                        <div class="product-price-3">
                                            <% if(proData[i].salePrice) {%>
                                            <span style="color: green;" class="new-price">₹ <%= proData[i].salePrice%></span>
                                            <span class="old-price" style="font-size: 14px; font-weight: 400; color: #90908e; margin: 0 0 0 7px; text-decoration: line-through;">₹ <%= proData[i].regularPrice%></span>
                                            <% if (proData[i].regularPrice && proData[i].salePrice) { %>
                                                <% var offerPercentage = ((proData[i].regularPrice - proData[i].salePrice) / proData[i].regularPrice) * 100; %>
                                                <div class="rating-result" title="<%= offerPercentage.toFixed(2) %>%">
                                                    <span>
                                                        <span style="color: red;"><%= offerPercentage.toFixed(0) %>% off</span>
                                                    </span>
                                                </div>
                                            <% } %>
                                        <% } else { %>
                                            <span>₹<%= proData[i].regularPrice %></span>
                                        <% } %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <% } %> 
                        </div>  
                </div>
                <div id="shop-2" class="tab-pane">  
                    <% for(let i=0; i <proData.length ; i++){ %>
                    <div class="shop-list-wrap mb-70">
                        <div class="row"> 
                            <div class="custom-col-32-shop">
                                <div class="product-wrap">
                                    <div class="product-img default-overlay">
                                        <a href="/product-details?id=<%=proData[i]._id%>">
                                            <img class="default-img" src="/assets/adminAssets/imgUploads/<%= proData[i].productImage[0] %>" alt="Product">
                                        </a>
                                        <!-- <div class="shop-list-quickview">
                                            <a data-bs-toggle="modal" data-bs-target="#exampleModal" href="/product-details?id=<%=proData[i]._id%>"><i class="fa fa-eye"></i><span>Quick Shop</span></a>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                            
                            <div class="custom-col-68-shop">
                                <div class="shop-list-content ml-20">
                                    <h3><a href="product-details"><%= proData[i].productName %></a></h3>
                                    <div class="product-price-3">
                                        <% if(proData[i].salePrice) {%>
                                        <span style="color: green;" class="new-price">₹ <%= proData[i].salePrice%></span>
                                        <span class="old-price" style="font-size: 14px; font-weight: 400; color: #90908e; margin: 0 0 0 7px; text-decoration: line-through;">₹ <%= proData[i].regularPrice%></span>
                                        <% if (proData[i].regularPrice && proData[i].salePrice) { %>
                                            <% var offerPercentage = ((proData[i].regularPrice - proData[i].salePrice) / proData[i].regularPrice) * 100; %>
                                            <div class="rating-result" title="<%= offerPercentage.toFixed(2) %>%">
                                                <span>
                                                    <span style="color: red;"><%= offerPercentage.toFixed(0) %>% off</span>
                                                </span>
                                            </div>
                                        <% } %>
                                    <% } else { %>
                                        <span>₹<%= proData[i].regularPrice %></span>
                                    <% } %>
                                    </div>
                                    <p><%= proData[i].description %></p>
                                    <!-- <div class="product-list-action">
                                        <a title="Add to Wishlist" href="#"><i class="fa fa-heart"></i></a>
                                        <div class="pro-list-actioncart">
                                            <a title="Add to cart" href="#">Add to cart</a>
                                        </div>
                                        
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <% } %>
                </div>
              


                <div class="pagination-wrap mt-50">
                    <ul class="pagination">
                        <% if (currentPage > 1) { %>
                            <li><a href="?page=1">First</a></li>
                            <li><a href="?page=<%= currentPage - 1 %>"><i class="fa fa-chevron-left"></i></a></li>
                        <% } %>
                        
                        <% for (let i = 1; i <= totalPages; i++) { %>
                            <li class="<%= i === currentPage ? 'active' : '' %>">
                                <a href="?page=<%= i %>"><%= i %></a>
                            </li>
                        <% } %>
                
                        <% if (currentPage < totalPages) { %>
                            <li><a href="?page=<%= currentPage + 1 %>"><i class="fa fa-chevron-right"></i></a></li>
                            <li><a href="?page=<%= totalPages %>">Last</a></li>
                        <% } %>
                    </ul>
                </div>

                


            </div>
        </div>
    </div>

<style>
    .pagination-wrap {
    text-align: center;
}

.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 0;
}

.pagination li {
    display: inline;
}

.pagination li a {
    color: #333;
    padding: 5px 10px;
    text-decoration: none;
}

.pagination li.active a {
    background-color: #007bff;
    color: #fff;
    border-radius: 3px;
}

</style>

<%- include("../partials/footer.ejs") %>