<%- include("../partials/header.ejs") %>


    

      <div class="product-slider-area bg-gray-2 " >
            <div class="product-slider-active-5" >
                <% for(let i=0; i < Math.min(4, proData.length); i++){ %> 
                <div class="single-product-slider text-center">
                    <a href="product-details"><img src="assets/userAssets/images/product/pro-slider-4.png" alt="product"></a>
                    <h3>proData</h3>
                    <span>₹ 4900</span>
                </div>
                <div class="single-product-slider text-center">
                    <a href="product-details"><img src="assets/userAssets/images/product/pro-slider-1.png" alt="product"></a>
                    <h3>Lace-up suede sneake</h3>
                    <span>₹ 4900</span>
                </div>
                <div class="single-product-slider text-center">
                    <a href="product-details"><img src="assets/userAssets/images/product/pro-slider-2.png" alt="product"></a>
                    <h3>Lace-up suede sneake</h3>
                    <span>₹ 4900</span>
                </div>
                <% } %>
            </div>
        </div>


       
        <div class="product-area pt-70 pb-45 section-padding-1">
            <div class="container-fluid">
                <div class="section-title-9 text-center">
                    <h2>New Arrival</h2>
                </div>
                <div class="product-tab-list-5 nav mt-20 mb-45">
                    <!-- <a class="active" href="#product-6" data-bs-toggle="tab">
                        Products
                    </a> -->
                      
                    <!-- <a href="#product-8" data-bs-toggle="tab">
                        HandBag
                    </a>
                    <a href="#product-9" data-bs-toggle="tab">
                        Laptop
                    </a> -->
                </div>
                <div class="tab-content jump-2">
                    <div id="product-6" class="tab-pane active padding-20-row-col">
                        <div class="row">
                            <% for(let i=0; i < Math.min(4, proData.length); i++){ %> <!-- Limiting to 4 products -->
                                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
                                    <div class="product-wrap mb-50">
                                        <div class="product-img default-overlay mb-25" >
                                            <a href="/product-details?id=<%=proData[i]._id%>">
                                                <% if(proData[i].productImage[0]!== undefined && proData[i].productImage[0] !== ''){  %>
                                                <img class="default-img" src="/assets/adminAssets/imgUploads/<%= proData[i].productImage[0] %>" alt="img">
                                                <% } else { %>
                                                <img class="default-img" src="/assets/userAssets/images/logo/szucci-favicon-black.png" alt="img">
                                                <% } %>
                                            </a>

                                                <input type="hidden" id="proId" name="user_id" value="<%= proData[i]._id %>">
                                            <!-- <div class="product-action product-action-position-1"> -->
                                                <!-- <a href="/product-details?id=<%=proData[i]._id%>"><i class="fa fa-eye"></i><span>Quick Shop</span></a> -->
                                                
                                                <!-- <a title="Add to Wishlist" href="/"><i class="fa fa-heart"></i><span>Add to Wishlist</span></a> -->
                                                <!-- <a title="Add to Cart" id="addToCartButton"  onclick="addToCart()"><i class="fa fa-shopping-cart"></i><span>Add to Cart</span></a> -->
                                            <!-- </div> -->
                                        </div>
                                        <div class="product-content-4 title-font-width-400 text-center">
                                            <h4><a href="product-details"><%= proData[i].productName %></a></h4>
                                            <div class="product-price-3">
                                                <% if(proData[i].salePrice) {%>
                                                    <span style="color: green;" class="new-price">₹ <%= proData[i].salePrice%></span>
                                                    <span class="old-price" style="font-size: 14px; font-weight: 400; color: #90908e; margin: 0 0 0 7px; text-decoration: line-through;">$ <%= proData[i].regularPrice%></span>
                                                    <% if (proData[i].regularPrice && proData[i].salePrice) { %>
                                                        <% var offerPercentage = ((proData[i].regularPrice - proData[i].salePrice) / proData[i].regularPrice) * 100; %>
                                                        <div class="rating-result" title="<%= offerPercentage.toFixed(2) %>%">
                                                            <span>
                                                                <span style="color: red;"><%= offerPercentage.toFixed(0) %>% off</span>
                                                            </span>
                                                        </div>
                                                    <% } %>
                                                <% } else { %>
                                                    <span>₹<%= proData[i].regularPrice %></span>
                                                <% } %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <% } %> 
                        </div>       
                    </div>
                </div>
                

           
            </div>
        </div>
        <div class="btn-style-1 text-center">
            <a class="btn-border" href="/allProducts">
                <div class="btn-viewmore-normal btn-ptb-1 btn-viewmore-bg-transparent btn-viewmore-common">
                    <span>View all products</span>
                </div>
                <div class="btn-viewmore-hover btn-ptb-1 btn-viewmore-common btn-hover-transition">
                    <span>View all products</span>
                </div>
            </a>
        </div>       
        <div class="banner-area section-padding-1 padding-70-row-col pt-100">
            <div class="container-fluid">
               
                <div class="row">
                    <% for(let i=0; i< couponData.length ; i++){ %>
                    <div class="col-lg-4">
                        <div class="banner-wrap default-overlay-2 banner-zoom mb-30">
                            <div class="banner-img">
                                <a href="product-details"><img src="assets/userAssets/images/banner/banner-16.jpg" alt="banner"></a>
                            </div>
                            <div class="banner-content-9 banner-position-8 text-center">
                                <h3>Use <%= couponData[i].couponName %> in this festival season</h3>
                                <h2>Sale <%= couponData[i].discountPercentage  %>%</h2>
                                <!-- Updated code for coupon code -->
                                <div class="banner-content-9 banner-position-8 text-center">
                                    <div class="coupon-code-container"  style="color: white; background-color: rgba(255, 255, 255, 0.313); height: 50px; ">
                                        <span id="couponCode"><%= couponData[i].coupencode %></span>
                                        <button style="border: 0px solid ; background-color: rgba(255, 255, 255, 0.782);" onclick="copyCouponCode()">Copy</button>
                                    </div>
                                </div>
                            </div>
                            <div class="btn-style-2 btn-style-2-position mt-25">
                                <a class="btn-2-border-black btn-2-bg-color" href="/allProducts">Shop now</a>
                            </div>
                        </div>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>        
        <script>
            function copyCouponCode() {
                const couponCode = document.getElementById("couponCode");
                const tempInput = document.createElement("input");
                tempInput.value = couponCode.innerText;
                document.body.appendChild(tempInput);
                tempInput.select();
                document.execCommand("copy");
                document.body.removeChild(tempInput);
                alert("Coupon code copied!");
            }
        </script>

<!-- 
        <div class="subscribe-area pt-100 pb-100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 ms-auto me-auto">
                        <div class="section-title-9 mb-50 text-center">
                            <h2>Stay with us</h2>
                            <p>Sale up to 20% off for your next purchase in this month!</p>
                        </div>
                        <div id="mc_embed_signup" class="subscribe-form-2">
                            <form id="mc-embedded-subscribe-form" class="validate" novalidate="" target="_blank" name="mc-embedded-subscribe-form" method="post" action="https://devitems.us11.list-manage.com/subscribe/post?u=6bbb9b6f5827bd842d9640c82&amp;id=05d85f18ef">
                                <div id="mc_embed_signup_scroll" class="mc-form-2">
                                    <input class="email" type="email" required="" placeholder="Your email address…" name="EMAIL" value="">
                                    <div class="mc-news-2" aria-hidden="true">
                                        <input type="text" value="" tabindex="-1" name="b_6bbb9b6f5827bd842d9640c82_05d85f18ef">
                                    </div>
                                    <div class="clear-2">
                                        <input id="mc-embedded-subscribe" class="button" type="submit" name="subscribe" value="Subscribe">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
   
        
       

        <%- include("../partials/footer.ejs") %>
      

