<%- include("../partials/header.ejs") %>


        <div class="header-small-mobile section-padding-1">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-6">
                        <div class="mobile-logo logo-width">
                            <a href="/">
                                <img alt="" src="assets/userAssets/images/logo/logo.png">
                            </a>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="mobile-header-right-wrap">
                            <div class="header-right-wrap header-right-flex">
                                <div class="same-style cart-wrap">
                                    <a href="#" class="cart-active">
                                        <i class="dlicon shopping_bag-20"></i>
                                        <span class="count-style">02</span>
                                    </a>
                                </div>
                                <div class="same-style header-off-canvas">
                                    <a class="header-aside-button" href="#">
                                        <i class="dlicon ui-3_menu-left"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- search start -->
        <div class="search-content-wrap main-search-active">
            <a class="search-close"><i class="dlicon ui-1_simple-remove"></i></a>
            <div class="search-content">
                <p>Start typing and press Enter to search</p>
                <form class="search-form" action="#">
                    <input type="text" placeholder="Search">
                    <button class="button-search"><i class="dlicon ui-1_zoom"></i></button>
                </form>
            </div>
        </div>

        <!-- mini cart start -->
        <div class="sidebar-cart-active">
            <div class="sidebar-cart-all">
                <a class="cart-close" href="#"><i class="dlicon ui-1_simple-remove"></i></a>
                <div class="cart-content">
                    <h3>Shopping Cart</h3>
                    <ul>
                        <li class="single-product-cart">
                            <div class="cart-img">
                                <a href="#"><img src="assets/userAssets/images/cart/cart-1.jpg" alt=""></a>
                            </div>
                            <div class="cart-title">
                                <h4><a href="#">Bejewelled velvet sandals</a></h4>
                                <span> 1 × $49.00	</span>
                            </div>
                            <div class="cart-delete">
                                <a href="#">×</a>
                            </div>
                        </li>
                        <li class="single-product-cart">
                            <div class="cart-img">
                                <a href="#"><img src="assets/userAssets/images/cart/cart-2.jpg" alt=""></a>
                            </div>
                            <div class="cart-title">
                                <h4><a href="#">Contrast faux fur jacket</a></h4>
                                <span> 1 × $49.00	</span>
                            </div>
                            <div class="cart-delete">
                                <a href="#">×</a>
                            </div>
                        </li>
                    </ul>
                    <div class="cart-total">
                        <h4>Subtotal: <span>$170.00</span></h4>
                    </div>
                    <div class="cart-checkout-btn">
                        <a class="btn-hover cart-btn-style" href="cart.html">view cart</a>
                        <a class="no-mrg btn-hover cart-btn-style" href="checkout.html">checkout</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- aside start -->
        <div class="header-aside-active">
            <div class="header-aside-wrap">
                <a class="aside-close"><i class="dlicon ui-1_simple-remove"></i></a>
                <div class="header-aside-content">

                    <div class="mobile-menu-area">
                        <div class="mobile-search">
                            <form class="search-form" action="#">
                                <input type="text" placeholder="Search entire store…">
                                <button class="button-search"><i class="dlicon ui-1_zoom"></i></button>
                            </form>
                        </div>
                        <!-- <div class="mobile-menu-wrap"> -->
                            <!-- mobile menu start -->
                            <!-- <div class="mobile-navigation"> -->
                                <!-- mobile menu navigation start -->
                                <!-- <nav> -->
                                    <!-- <ul class="mobile-menu"> -->
                                       
                                        <!-- <li class="menu-item-has-children"><a href="#">Pages</a>
                                            <ul class="dropdown">
                                                <li><a href="about-us.html">About Us</a></li>
                                                <li><a href="contact-us.html">Contact Page</a></li>
                                               
                                            </ul>
                                        </li> -->
                                        <!-- <li class="menu-item-has-children "><a href="shop-fullwide.html">shop</a>
                                            <ul class="dropdown">
                                                <li class="menu-item-has-children"><a href="#">Brands</a>
                                                    <ul class="dropdown">
                                                        <li><a href="shop-fullwide.html">Nike</a></li>
                                                        <li><a href="shop-sidebar.html">American Tourister</a></li>
                                                        <li><a href="shop-metro.html">Passenger</a></li>
                                                        <li><a href="shop-3-col.html">Maraggio</a></li>
                                                        <li><a href="shop-2-col.html">Puma</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children "><a href="#">Collection</a></li> -->
                                    <!-- </ul> -->
                                <!-- </nav> -->
                                <!-- mobile menu navigation end -->
                            <!-- </div> -->
                            <!-- mobile menu end -->
                        <!-- </div> -->


                        <div class="mobile-curr-lang-wrap">
                            <div class="single-mobile-curr-lang">
                                <li class="menu-item-has-children"><a href="/">Home</a></li>
                                <a class="mobile-account-active" href="#">My Account <i class="fa fa-angle-down"></i></a>
                                <div class="lang-curr-dropdown account-dropdown-active">
                                    <ul>
                                        <li><a href="/login">Login</a></li>
                                        <li><a href="/signup">Creat Account</a></li>
                                        <li><a href="/userProfile">My Account</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="header-aside-menu">
                        <nav>
                            <ul>
                                <li><a href="#">About Toro</a></li>
                                <li><a href="#">Help Center</a></li>
                                <li><a href="#">Collection</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">New Look</a></li>
                            </ul>
                        </nav>
                    </div>
                    <img src="assets/userAssets/images/icon-img/payments.png" alt="payment">
                    <p>Pellentesque mollis nec orci id tincidunt. Sed mollis risus eu nisi aliquet, sit amet fermentum justo dapibus.</p>
                    <div class="aside-contact-info">
                        <ul>
                            <li><i class="dlicon ui-2_time-clock"></i>Monday - Friday: 9:00 - 19:00</li>
                            <li><i class="dlicon ui-1_email-84"></i>Info@la-studioweb.com</li>
                            <li><i class="dlicon tech-2_rotate"></i>(+55) 254. 254. 254</li>
                            <li><i class="dlicon ui-1_home-minimal"></i>Helios Tower 75 Tam Trinh Hoang - Ha Noi - Viet Nam</li>
                        </ul>
                    </div>
                    <div class="social-icon-style mb-25">
                        <a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
                        <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
                        <a class="google-plus" href="#"><i class="fa fa-google-plus"></i></a>
                        <a class="behance" href="#"><i class="fa fa-behance"></i></a>
                    </div>
                    <div class="copyright">
                        <p>© 2021 <a href="https://hasthemes.com/">Szucci.</a> All rights reserved</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="product-slider-area bg-gray-2 " >
            <div class="product-slider-active-5" >
                <div class="single-product-slider text-center">
                    <a href="product-details"><img src="assets/userAssets/images/product/pro-slider-4.png" alt="product"></a>
                    <h3>Lace-up suede sneake</h3>
                    <span>$ 49.99</span>
                </div>
                <div class="single-product-slider text-center">
                    <a href="product-details"><img src="assets/userAssets/images/product/pro-slider-1.png" alt="product"></a>
                    <h3>Lace-up suede sneake</h3>
                    <span>$ 49.99</span>
                </div>
                <div class="single-product-slider text-center">
                    <a href="product-details"><img src="assets/userAssets/images/product/pro-slider-2.png" alt="product"></a>
                    <h3>Lace-up suede sneake</h3>
                    <span>$ 49.99</span>
                </div>
            </div>
        </div>

        <div class="banner-area section-padding-1 padding-70-row-col pt-100">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="banner-wrap default-overlay-2 banner-zoom mb-30">
                            <div class="banner-img">
                                <a href="product-details"><img src="assets/userAssets/images/banner/banner-16.jpg" alt="banner"></a>
                            </div>
                            <div class="banner-content-9 banner-position-8 text-center">
                                <h3>Suede monk-strap shoes</h3>
                                <h2>Sale 30%</h2>
                                <span class="banner-badge">
                                only 
                                <strong>39.99$</strong>
                            </span>
                            </div>
                            <div class="btn-style-2 btn-style-2-position mt-25">
                                <a class="btn-2-border-black btn-2-bg-color" href="product-details.e">
                                    Shop now
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="banner-wrap default-overlay-2 banner-zoom mb-30">
                            <div class="banner-img">
                                <a href="product-details"><img src="assets/userAssets/images/banner/banner-17.jpg" alt="banner"></a>
                            </div>
                            <div class="banner-content-9 banner-position-8 text-center">
                                <h3>Suede monk-strap shoes</h3>
                                <h2>Sale 50%</h2>
                                <span class="banner-badge">
                                only 
                                <strong>39.99$</strong>
                            </span>
                            </div>
                            <div class="btn-style-2 btn-style-2-position mt-25">
                                <a class="btn-2-border-black btn-2-bg-color" href="product-details">
                                    Shop now
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="banner-wrap default-overlay-2 banner-zoom mb-30">
                            <div class="banner-img">
                                <a href="product-details"><img src="assets/userAssets/images/banner/banner-18.jpg" alt="banner"></a>
                            </div>
                            <div class="banner-content-9 banner-position-9">
                                <h3>Heel sock boots</h3>
                                <h2>Sale 50%</h2>
                                <span class="banner-badge-2">
                                only 
                                <strong>39.99$</strong>
                            </span>
                            </div>
                            <div class="btn-style-2 btn-style-2-position mt-25">
                                <a class="btn-2-border-black btn-2-bg-color" href="product-details">
                                    Shop now
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="product-area pt-70 pb-45 section-padding-1">
            <div class="container-fluid">
                <div class="section-title-9 text-center">
                    <h2>New Arrival</h2>
                </div>
                <div class="product-tab-list-5 nav mt-20 mb-45">
                    <a class="active" href="#product-6" data-bs-toggle="tab">
                        All
                    </a>
                    <a href="#product-7" data-bs-toggle="tab">
                        Travel
                    </a>
                    <a href="#product-8" data-bs-toggle="tab">
                        HandBag
                    </a>
                    <a href="#product-9" data-bs-toggle="tab">
                        Laptop
                    </a>
                </div>
                <div class="tab-content jump-2">
                    <div id="product-6" class="tab-pane active padding-20-row-col">
                        <div class="row">
                          
                        <% for(let i=0; i <proData.length ; i++){ %>

                            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
                                <div class="product-wrap mb-50">
                                    <div class="product-img default-overlay mb-25">
                                        <a href="/product-details?id=<%=proData[i]._id%>">
                                            <img class="default-img" src="/assets/adminAssets/imgUploads/<%= proData[i].productImage[0] %>" alt="Product">
                                        </a>>
                                        </a>
                                        <div class="product-action product-action-position-1">
                                            <a data-bs-toggle="modal" data-bs-target="#exampleModal" href="#"><i class="fa fa-eye"></i><span>Quick Shop</span></a>
                                            <a title="Add to Wishlist" href="/"><i class="fa fa-heart"></i><span>Add to Wishlist</span></a>
                                           
                                            <a title="Add to Cart" href="#"><i class="fa fa-shopping-cart"></i><span>Add to Cart</span></a>
                                        </div>
                                    </div>
                                    <div class="product-content-4 title-font-width-400 text-center">
                                        <h3><a href="product-details"><%= proData.productName %></a></h3>
                                        <div class="product-price-3">
                                            <span class="new-price">$ <%= proData[i].regularPrice%></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

<% } %>

                            
                        </div>
                    </div>
                </div>
                 
            </div>
        </div>
                   
        <div class="subscribe-area pt-100 pb-100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 ms-auto me-auto">
                        <div class="section-title-9 mb-50 text-center">
                            <h2>Stay with us</h2>
                            <p>Sale up to 20% off for your next purchase in this month!</p>
                        </div>
                        <div id="mc_embed_signup" class="subscribe-form-2">
                            <form id="mc-embedded-subscribe-form" class="validate" novalidate="" target="_blank" name="mc-embedded-subscribe-form" method="post" action="https://devitems.us11.list-manage.com/subscribe/post?u=6bbb9b6f5827bd842d9640c82&amp;id=05d85f18ef">
                                <div id="mc_embed_signup_scroll" class="mc-form-2">
                                    <input class="email" type="email" required="" placeholder="Your email address…" name="EMAIL" value="">
                                    <div class="mc-news-2" aria-hidden="true">
                                        <input type="text" value="" tabindex="-1" name="b_6bbb9b6f5827bd842d9640c82_05d85f18ef">
                                    </div>
                                    <div class="clear-2">
                                        <input id="mc-embedded-subscribe" class="button" type="submit" name="subscribe" value="Subscribe">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <%- include("../partials/footer.ejs") %>
      

