<%- include("../partials/header.ejs") %>


    

        <div class="product-slider-area bg-gray-2 " >
            <div class="product-slider-active-5" >
                <div class="single-product-slider text-center">
                    <a href="product-details"><img src="assets/userAssets/images/product/pro-slider-4.png" alt="product"></a>
                    <h3>Lace-up suede sneake</h3>
                    <span>$ 49.99</span>
                </div>
                <div class="single-product-slider text-center">
                    <a href="product-details"><img src="assets/userAssets/images/product/pro-slider-1.png" alt="product"></a>
                    <h3>Lace-up suede sneake</h3>
                    <span>$ 49.99</span>
                </div>
                <div class="single-product-slider text-center">
                    <a href="product-details"><img src="assets/userAssets/images/product/pro-slider-2.png" alt="product"></a>
                    <h3>Lace-up suede sneake</h3>
                    <span>$ 49.99</span>
                </div>
            </div>
        </div>



        <div class="product-area pt-70 pb-45 section-padding-1">
            <div class="container-fluid">
                <div class="section-title-9 text-center">
                    <h2>New Arrival</h2>
                </div>
                <div class="product-tab-list-5 nav mt-20 mb-45">
                    <a class="active" href="#product-6" data-bs-toggle="tab">
                        All
                    </a>
                    <a href="#product-7" data-bs-toggle="tab">
                        Travel
                    </a>
                    <a href="#product-8" data-bs-toggle="tab">
                        HandBag
                    </a>
                    <a href="#product-9" data-bs-toggle="tab">
                        Laptop
                    </a>
                </div>
                <div class="tab-content jump-2">
                    <div id="product-6" class="tab-pane active padding-20-row-col">
                        <div class="row">
                          
                        <% for(let i=0; i <proData.length ; i++){ %>

                            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
                                <div class="product-wrap mb-50">
                                    <div class="product-img default-overlay mb-25" >
                                        <a href="/product-details?id=<%=proData[i]._id%>">
                                            <img class="default-img" src="/assets/adminAssets/imgUploads/<%= proData[i].productImage[0] %>" alt="Product">
                                        </a>
                                        </a>
                                        <div class="product-action product-action-position-1">
                                            <a href="/product-details?id=<%=proData[i]._id%>"><i class="fa fa-eye"></i><span>Quick Shop</span></a>
                                            <a title="Add to Wishlist" href="/"><i class="fa fa-heart"></i><span>Add to Wishlist</span></a>
                                           
                                            <a title="Add to Cart" href="/productCart"><i class="fa fa-shopping-cart"></i><span>Add to Cart</span></a>
                                        </div>
                                    </div>
                                    <div class="product-content-4 title-font-width-400 text-center">
                                        <h4><a href="product-details"><%= proData[i].productName %></a></h4>
                                        <div class="product-price-3">
                                            <% if(proData[i].salePrice) {%>
                                            <span style="color: green;" class="new-price">₹ <%= proData[i].salePrice%></span>
                                            <span class="old-price" style="font-size: 14px; font-weight: 400; color: #90908e; margin: 0 0 0 7px; text-decoration: line-through;">$ <%= proData[i].regularPrice%></span>
                                            <% if (proData[i].regularPrice && proData[i].salePrice) { %>
                                                <% var offerPercentage = ((proData[i].regularPrice - proData[i].salePrice) / proData[i].regularPrice) * 100; %>
                                                <div class="rating-result" title="<%= offerPercentage.toFixed(2) %>%">
                                                    <span>
                                                        <span style="color: red;"><%= offerPercentage.toFixed(0) %>% off</span>
                                                    </span>
                                                </div>
                                            <% } %>
                                        <% } else { %>
                                            <span>₹<%= proData[i].regularPrice %></span>
                                        <% } %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <% } %> 
                        </div>       
                    </div>
                </div>   

                <div class="tab-content jump-3">
                    <div id="product-7" class="tab-pane active padding-20-row-col">
                        <div class="row">
                            <% proData.forEach(proData => { %>
                                <% if (proData.category === 'Travel') { %>
                
                                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
                                        <div class="product-wrap mb-50">
                                            <div class="product-img default-overlay mb-25">
                                                <a href="/product-details?id=<%= proData._id %>">
                                                    <img class="default-img" src="/assets/adminAssets/imgUploads/<%= proData.productImage %>" alt="Product">
                                                </a>
                                                <div class="product-action product-action-position-1">
                                                    <a href="/product-details?id=<%= proData._id %>"><i class="fa fa-eye"></i><span>Quick Shop</span></a>
                                                    <a title="Add to Wishlist" href="/"><i class="fa fa-heart"></i><span>Add to Wishlist</span></a>
                
                                                    <!-- Add to Cart button with productId and quantity -->
                                                    <form action="/addToCart" method="POST">
                                                        <input type="hidden" name="productId" value="<%= proData._id %>">
                                                        <input type="number" name="quantity" value="1" min="1">
                                                        <button type="submit" title="Add to Cart"><i class="fa fa-shopping-cart"></i><span>Add to Cart</span></button>
                                                    </form>
                                                </div>   
                                            </div>
                                            <div class="product-content-4 title-font-width-400 text-center">
                                                <h3><a href="product-details"><%= proData.productName %></a></h3>
                                                <div class="product-price-3">
                                                    <span class="new-price"> <%= proData.salePrice %></span>
                                                    <span class="old-price" style="font-size: 14px; font-weight: 400; color: #90908e; margin: 0 0 0 7px; text-decoration: line-through;">$ <%= proData.regularPrice %></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <% } %>
                            <% }) %>
                        </div>
                    </div>
                </div>
                

            </div>
        </div>
                
        <div class="banner-area section-padding-1 padding-70-row-col pt-100">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="banner-wrap default-overlay-2 banner-zoom mb-30">
                            <div class="banner-img">
                                <a href="product-details"><img src="assets/userAssets/images/banner/banner-16.jpg" alt="banner"></a>
                            </div>
                            <div class="banner-content-9 banner-position-8 text-center">
                                <h3>Suede monk-strap shoes</h3>
                                <h2>Sale 30%</h2>
                                <span class="banner-badge">
                                only 
                                <strong>39.99$</strong>
                            </span>
                            </div>
                            <div class="btn-style-2 btn-style-2-position mt-25">
                                <a class="btn-2-border-black btn-2-bg-color" href="product-details">
                                    Shop now
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="banner-wrap default-overlay-2 banner-zoom mb-30">
                            <div class="banner-img">
                                <a href="product-details"><img src="assets/userAssets/images/banner/banner-17.jpg" alt="banner"></a>
                            </div>
                            <div class="banner-content-9 banner-position-8 text-center">
                                <h3>Suede monk-strap shoes</h3>
                                <h2>Sale 50%</h2>
                                <span class="banner-badge">
                                only 
                                <strong>39.99$</strong>
                            </span>
                            </div>
                            <div class="btn-style-2 btn-style-2-position mt-25">
                                <a class="btn-2-border-black btn-2-bg-color" href="product-details">
                                    Shop now
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="banner-wrap default-overlay-2 banner-zoom mb-30">
                            <div class="banner-img">
                                <a href="product-details"><img src="assets/userAssets/images/banner/banner-18.jpg" alt="banner"></a>
                            </div>
                            <div class="banner-content-9 banner-position-9">
                                <h3>Heel sock boots</h3>
                                <h2>Sale 50%</h2>
                                <span class="banner-badge-2">
                                only 
                                <strong>39.99$</strong>
                            </span>
                            </div>
                            <div class="btn-style-2 btn-style-2-position mt-25">
                                <a class="btn-2-border-black btn-2-bg-color" href="product-details">
                                    Shop now
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>        














        <div class="subscribe-area pt-100 pb-100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 ms-auto me-auto">
                        <div class="section-title-9 mb-50 text-center">
                            <h2>Stay with us</h2>
                            <p>Sale up to 20% off for your next purchase in this month!</p>
                        </div>
                        <div id="mc_embed_signup" class="subscribe-form-2">
                            <form id="mc-embedded-subscribe-form" class="validate" novalidate="" target="_blank" name="mc-embedded-subscribe-form" method="post" action="https://devitems.us11.list-manage.com/subscribe/post?u=6bbb9b6f5827bd842d9640c82&amp;id=05d85f18ef">
                                <div id="mc_embed_signup_scroll" class="mc-form-2">
                                    <input class="email" type="email" required="" placeholder="Your email address…" name="EMAIL" value="">
                                    <div class="mc-news-2" aria-hidden="true">
                                        <input type="text" value="" tabindex="-1" name="b_6bbb9b6f5827bd842d9640c82_05d85f18ef">
                                    </div>
                                    <div class="clear-2">
                                        <input id="mc-embedded-subscribe" class="button" type="submit" name="subscribe" value="Subscribe">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
                
        <script>
            function addToCart(){
            const otp = document.getElementById("otp").value;
            const alertMessage = document.getElementById("alertMessage");

            
            $.ajax({

                url:"/verify-otp",
                method:"post",
                data:{otp},
                success:(response)=>{
                    if(response.status == "success"){
                        
                        //res.redirect n pakaram                                                                                                                                                                                                                                                                                                                                                                                                                                                            
                        window.location.href = "/login"
                    }else{
                        alertMessage.style.display = "block";
                    setTimeout(()=>{
                        alertMessage.style.display = "none";
                    },3000)
                    }
                }
            })
        }

        </script>
        
       

        <%- include("../partials/footer.ejs") %>
      

