
 <%- include("../partials/header.ejs") %>
            <div class="breadcrumb-content text-center">
                <div class="breadcrumb-title">
                    <h2>My Account</h2>
                </div>
                <ul>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li><span> &gt; </span></li>
                    <li class="active"> My Account </li>
                </ul>
            </div>
        </div>
    </div>
                <div class="my-account-area pt-100 pb-95">
                    <div class="container">
                        <div class="row flex-row-reverse">
                            <div class="col-lg-12">
                                <div class="myaccount-tab-menu nav" role="tablist">
                                    <a href="/accountDetails"> Account Details</a>
                                    <a href="/orders"> Orders</a>
                                    <a href="/address"> Address</a>
                                    <a href="/wallet" class="show active"> Wallet</a>
                                </div> 
                                <div class="tab-content" id="myaccountContent">
                                    <div class="tab-pane fade show active" role="tabpanel">
                                        <div class="myaccount-content">
                                            <% if(walletInfo && transInfo){ %>
                                                <div>
                                                    <div class="row" style="border: solid; border-width: 0.5px; border-color: rgb(211, 211, 211); margin: 30px 0px 25px 0px; padding: 20px 0px 20px 0px; display: flex; justify-content: space-between; align-items: center;">
                                                        <div class="col-lg-6 col-md-6 ">
                                                            <h2>₹<%= walletInfo.balance %></h2>
                                                            <p>Current Szucci wallet balance</p>
                                                        </div>
                                                        <div class="text-end col-lg-6 col-md-6">
                                                            <button onclick="addMoney('<%= walletInfo._id%>')" class="btn btn-pink">+Add Money</button>
                                                        </div>
                                                        
                                                    </div>
                                                </div>
                                                <style>
                                                .btn-pink {
                                                    background-color:#fc4f4f; 
                                                    color: white;
                                                    border: none;
                                                    padding: 8px 16px;
                                                    border-radius: 4px;
                                                }
                                                </style>
                                            <% } %>
                                            
                                            <div class="myaccount-table table-responsive text-center">

                                                <h3 class="text-start">Your Transaction details</h3>
                                                <div>
                                                    <% if(transInfo){ %>
                                                        <table class="table table-bordered">
                                                            <thead class="thead-light">
                                                                <tr>
                                                                    <th>Date</th>
                                                                    <th>Type</th>
                                                                    <th>Amount</th>
                                                                    <th>Reason</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <% transInfo.sort((a, b) => new Date(b.timestamp) - new Date(a.timestamp)); %>
                            
                                                                <% transInfo.forEach((trans)=>{ %>
                                                                    <tr>
                                                                        <td><%= trans.timestamp.toLocaleDateString() %></td>
                                        
                                                                        <td><%= trans.type %></td>
                                                                        <% if(trans.type === "Delivered"){ %>
                                                                        <td style="color:blue;"><%= trans.status %></td>
                                                                        <% } %>
                                                                        <% if(trans.type === "Shipped"){ %>
                                                                        <td style="color: rgb(38, 161, 226);"><%= trans.status %></td>
                                                                        <% } %>
                                                                        <% if(trans.type === "Confirmed"){ %>
                                                                        <td style="color:green;"><%= trans.status %></td>
                                                                        <% } %>
        
                                                                        <td>$<%= trans.amount %></td>
                                                                        <td><%= trans.description %></td>
                                                                       
                                                                    </tr>
                                                                <% }) %>
                                                            </tbody>
                                                        </table>
                                                    <% } else { %>
                                                            <a href="/productCart"> <button> Go to Cart </button></a>
                                                    <% } %>
                                                </div>
                                               
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                        
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        


<%- include("../partials/footer.ejs") %>
